body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: rgb(255, 255, 255);
  font-family: sans-serif;
}

/* HEADER */

.header {
  background-color: #1F2937;
  color: #f9faf8;
  padding: 0 15vw;
  padding-bottom: 10vh;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
}

.h-links {
  display: flex;
  list-style-type: none;
  gap: 19px;
}

.h-link {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
}

.h-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3vh;
}

.left {
  width: 450px;
}

.main-text {
  font-size: 48px;
  font-weight: 900;
}

.secondary-text {
  font-size: 18px;
  margin-right: 24px;
}

.sign-up {
  background-color: #3882F6;
  color: #E5E7EB;
  padding: 12px 40px;
  border-radius: 12px;
  font-size: 16px;
  border: none;
  text-align: center;
}

.pic {
  height: auto;
  width: 800px;
  flex-shrink: 1;
}

/* INFORMATION IMAGES */

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 60px;
}

.info-title {
  font-size: 36px;
  font-weight: 900;
}

.images {
  display: flex;
  justify-content: space-around;
  gap: 100px;
}

.info-img {
  border: 2px solid #3882F6;
  border-radius: 12px;
  width: 220px;
  height: 220px;
}

.info-disc {
  width: 150px;
  text-align: center;
}

/* INSPIRING QUOTE */

.inspiring-quote {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10vw;
}

.quote {
  max-width: 850px;
  font-size: 36px;
  color: #1F2937;
  font-style: italic;
  text-align: center;
  margin-bottom: 0;
}

.author {
  align-self: flex-end;
  padding-right: 20px;
  font-size: x-large;
  font-weight: 700;
}

/* CALL TO ACTION - SIGN UP */

.call-action {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3882F6;
  color: white;
  border-radius: 12px;
  padding: 30px 0;
  margin: 60px 150px;
}

.sign-up.second {
  border: 2px solid white;
}

/* FOOTER */

.footer {
  text-align: center;
  background-color: #1F2937;
  color: white;
  margin: 0;
  padding: 30px;
}
